.app {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  h1 {
    margin: 0 0 24px 0;
    font-size: 6rem;
    color: #374151;
  }
  
  .buttons {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .yes-button {
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #9333ea, #9333ea);
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
  }
  
  .yes-button:hover {
    background: linear-gradient(90deg, #9333ea, #9333ea);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  .no-button {
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #6b7280, #6b7280);
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: top 0.2s ease, left 0.2s ease, background 0.3s ease, box-shadow 0.2s ease;
  }
  
  .no-button:hover {
    background: linear-gradient(90deg, #6b7280, #6b7280);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }

  .sorry-image {
    max-width: 300px;
    height: auto;
    margin-bottom: 32px;
    border-radius: 10px;
  }
